.login-form-container{
  background-image:url('https://img.freepik.com/free-vector/tiny-student-sitting-book-pile-reading-flat-illustration_74855-15547.jpg?w=500') ;
  padding: 40px;
  background-color: white;
  margin: auto;
  margin-top: 50px;
  // width: 300px; reson for scroll
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
  min-height: 100px;
}
.Auth-form-container{
  background-image:url('https://img.freepik.com/free-vector/tiny-student-sitting-book-pile-reading-flat-illustration_74855-15547.jpg?w=500') ;
  padding: 40px;
  background-color: white;
  margin: auto;
  margin-top: 50px;
  // width: 300px; 
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
  min-height: 100px;
}
.userfooter,
.navbar{
  background-image:linear-gradient(15deg, #258fcc 0%, #26e7ee 100%);
};
.boxshadow{
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
}
.reg-form-container{
  padding: 40px;
  background-color: white;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  // width: 300px; reson for scroll
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
  min-height: 100px;
}
.adminlogin-form-container{
background-image:url('https://img.freepik.com/free-vector/young-people-standing-set_74855-3794.jpg?w=2000') ;
  padding: 40px;
  background-color: white;
  margin: auto;
  margin-top: 100px;
  // width: 300px; reson for scroll
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
  min-height: 100px;
}
// #sidebar-wrapper {
//   background-color:lightgrey;
//   padding-top: 0.5rem;
//   font-size:14px;
//   flex: 1 0 auto;
//   height:500px;
//   margin-left: -5rem;
// }
// .imggg{
//   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfI9YBn3SjyYbYDgGHKl14t-b6HaDwiSw3QQ&usqp=CAU");
  
// }
.description{
  font-size:1rem ;
  font-family: 'Times New Roman', Times, serif;
}
.sidetitle{
  font-size:35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top:120px ;
  
}
.maindiv{
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .4);

}
.leftdiv{
  margin:auto;
  display:block;
  border-radius: .2rem;
  border-style: none;
  height: 2rem;
  width: 7rem;

  
}
.radio-selection{
  font-size: 1rem;
}
.addbutton{
  float: right;
  
}
.teacherlogin-form-container{
  background-image:url('https://media.istockphoto.com/vectors/online-learning-vector-id1227583041?k=20&m=1227583041&s=612x612&w=0&h=wdrgRtrNKq_7mvfl4AbaT_vLLsXda_F4POYOLfGXghU=') ;
    padding: 40px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    // width: 300px; reson for scroll
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
    min-height: 100px;
  }
  .details{
    font-size: 15px;
    font-weight: 600;
  }
  .total{
    font-size: 20px;
    font-weight: 600;

  }
  .detailvalue{
    font-size: 15px;
  }
// .sidebardiv{

//     background-color: red;
//     //  width:40% ;
//     // display: flex;

// }
// .contentdiv{
// //  width: 60%;
// //  display: flex;
//  background-color: blue;
// }